body {
  background: linear-gradient(-45deg, #801414, #d0ceee);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 90vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.imposter {
  width: 7vh;
  height: 5vh;
  height:6vh;
  position: absolute;
  background-image: url("i.png");
  background-size: contain;
  background-repeat: no-repeat;
} 


h1{
  text-align: center;
  /* border: 1px solid; */
}
.btn {
  display: flex;
  flex-flow: row;
  color: aqua;
  background-color: black;
}
